:root {
  --branding-color: #aa0055;
  --secondary-color: whitesmoke;
  --tertiary-color: #e7d7c1cc;
  --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  --font-main: "Arima", cursive;
  --font-heading: "Lora", serif;
}

body {
  margin: 0 auto;
  font-family: var(--font-main);
  background-color: var(--tertiary-color);
}

header {
  background: var(--branding-color);
  color: var(--secondary-color);
  padding-bottom: 250px;
}
.intro {
  position: relative;
  top: 130px;
}
h1 {
  font-size: 96px;
  font-family: var(--font-heading);
  line-height: 100px;
}

h2 {
  font-size: 48px;
}
h2.myWork {
  font-family: var(--font-heading);
}
h3 {
  font-size: 24px;
  opacity: 0.8;
}
.navbar {
  background-color: var(--tertiary-color);
}
.offcanvas {
  background-color: var(--tertiary-color);
  backdrop-filter: blur(20px);
}

.active {
  color: var(--branding-color) !important;
}
.work-link {
  margin: 130px auto;
  width: fit-content;
}
.primary-link {
  padding: 20px 30px;
  border: 1px solid transparent;
  border-radius: 4px;
  background: var(--branding-color);
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.primary-link:hover {
  border: 2px solid var(--branding-color);
  background: var(--secondary-color);
  color: var(--branding-color);
}

.divider {
  border-bottom: 8px dotted #a78a7f;

  margin: 60px auto;
}

.headings {
  font-size: 38px;
}

footer {
  font-family: var(--font-heading);
  background-color: var(--branding-color);
  padding: 12px;
  color: var(--secondary-color);
}
.githubIcon {
  font-size: 30px;
  line-height: 40px;
  margin: 5px;
  color: var(--secondary-color);
}
.githubIcon:hover {
  font-size: 32px;
}
@media (max-width: 768px) {
  header {
    padding-bottom: 150px;
  }
  .intro {
    position: relative;
    top: 100px;
  }
  h1 {
    font-size: 40px;
    line-height: 44px;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 16px;
  }
  .switch1 {
    order: 2;
  }
  .switch2 {
    order: 1;
  }
  .myWork {
    border: 1px solid var(--branding-color);
    width: fit-content;
    margin: auto;
    padding: 20px;
  }
  .headings {
    margin-top: 20px;
    text-align: center !important;
    font-size: 32px;
  }
  .launch {
    display: flex;
    justify-content: center;
  }

  .weather {
    margin-top: 5px;
  }
  .yogurt {
    margin-top: -40px;
  }
  .about-paragraphs p {
    font-size: 16px;
  }
}
