:root {
  --branding-color: #aa0055;
  --secondary-color: whitesmoke;
  --tertiary-color: #e7d7c1cc;
  --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  --font-main: "Arima", cursive;
  --font-heading: "Lora", serif;
}

body {
  margin: 0 auto;
  font-family: var(--font-main);
  background-color: var(--tertiary-color);
  width: 100%;
  height: 100%;
}

header {
  background: var(--branding-color);
  color: var(--secondary-color);
  padding-bottom: 250px;
}
.intro {
  position: relative;
  top: 130px;
}
h1 {
  font-size: 96px;
  font-family: var(--font-heading);
  line-height: 100px;
}

h2 {
  font-size: 48px;
}
h2.myWork {
  font-family: var(--font-heading);
  background: var(--branding-color);
  color: var(--secondary-color);
}

h3 {
  font-size: 24px;
  opacity: 0.8;
}
.navbar {
  background-color: var(--tertiary-color);
}
.offcanvas {
  background-color: var(--secondary-color);
  width: 200px;
}

.active {
  color: var(--branding-color) !important;
}
.work-link {
  margin: 130px auto;
  width: fit-content;
}
.primary-link {
  padding: 20px 30px;
  border: 1px solid transparent;
  border-radius: 4px;
  background: var(--branding-color);
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.primary-link:hover {
  border: 2px solid var(--branding-color);
  background: var(--secondary-color);
  color: var(--branding-color);
}

.divider {
  border-bottom: 8px dotted #a78a7f;

  margin: 60px auto;
}

.headings {
  font-size: 38px;
}

footer {
  font-family: var(--font-heading);
  background-color: var(--branding-color);
  padding: 12px;
  color: var(--secondary-color);
}
.githubIcon {
  font-size: 30px;
  line-height: 40px;
  margin: 5px;
  color: var(--secondary-color);
}
.githubIcon:hover {
  font-size: 32px;
  margin-bottom: 3px;
}
.to-top {
  color: var(--secondary-color);
  padding-top: 1.8em;
  position: relative;

  bottom: 15%;
  left: 95%;
  border-color: var(--secondary-color);
  text-decoration: none;
  transition: all 0.8s ease-out;
}
.to-top:before {
  content: "▲";
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 25px;

  border: solid 2px var(--secondary-color);
  border-radius: 20px;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.3em;
  border-color: inherit;
  transition: transform 0.5s ease-in;
}
.to-top:hover {
  color: palevioletred;
  border-color: palevioletred;
}
.to-top:hover:before {
  transform: rotate(360deg);
}

.womanCoder {
  display: block;
  margin-top: -40px;
  width: 600px;
}
.attribution {
  font-size: 10px;
  color: black;
  text-decoration: none;
}
.attribution:hover {
  color: black;
}
.connect {
  background-color: var(--branding-color);
  color: var(--secondary-color);
  padding: 20px 100px;
}
.form-control,
.message {
  background-color: var(--secondary-color);
}
.contact {
  padding: 10px 20px;
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  background: var(--secondary-color);
  color: var(--branding-color);
  box-shadow: var(--box-shadow);
  transition: all 200ms ease-in-out;
  text-decoration: none;
}
.contact:hover {
  background: var(--tertiary-color);
}
@media (max-width: 768px) {
  header {
    padding-bottom: 150px;
  }
  .intro {
    position: relative;
    top: 100px;
  }
  h1 {
    font-size: 40px;
    line-height: 44px;
  }
  h2 {
    font-size: 38px;
  }
  h2.aboutMe {
    margin: 15px !important;
    text-align: center;
  }
  h2.workTogether {
    margin: 15px !important;
    text-align: center;
    font-size: 30px;
  }
  h3 {
    font-size: 16px;
  }
  .display-1 {
    font-size: 44px !important;
    margin: 0 auto;
    padding: 0;
  }
  .switch1 {
    order: 2;
  }
  .switch2 {
    order: 1;
  }
  .myWork {
    width: fit-content;
    margin: auto;
    padding: 20px;
  }
  .headings {
    margin-top: 20px;
    text-align: center !important;
    font-size: 32px;
  }
  .launch {
    display: flex;
    justify-content: center;
  }

  .weather {
    margin-top: 5px;
  }
  .weatherLaunch {
    margin-bottom: 15px;
  }
  .yogurt {
    margin-top: -40px;
  }
  .about-paragraphs p {
    font-size: 16px;
  }
  .message {
    width: 200px;
  }
}


